<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mitrahsoft_Contact::menu"
           title="Mitrahsoft" translate="title" module="Mitrahsoft_Contact"
           sortOrder="10"
           resource="Mitrahsoft_Contact::menu"
        />
      
       <add id="Mitrahsoft_Contact::submenu_contact"
           title="Contact Us" translate="title" module="Mitrahsoft_Contact"
           sortOrder="1000" parent="Mitrahsoft_Contact::menu"
           action="contact/contact/index"
           resource="Mitrahsoft_Contact::submenu_contact"
        />
         
       <add id="Mitrahsoft_Contact::submenu_enquiry"
           title="Enquiry Item" translate="title" module="Mitrahsoft_Contact"
           sortOrder="1000" parent="Mitrahsoft_Contact::menu"
           action="enquiry/enquiry/index"
           resource="Mitrahsoft_Contact::submenu_enquiry"
        />
        
       
   </menu>
</config>