<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mitrahsoft_Enquiry::menu"
           title="Mitrahsoft" translate="title" module="Mitrahsoft_Enquiry"
           sortOrder="10"
           resource="Mitrahsoft_Enquiry::menu"
        />
         
       <add id="Mitrahsoft_Enquiry::submenu_enquiry"
           title="Enquiry Item" translate="title" module="Mitrahsoft_Enquiry"
           sortOrder="1000" parent="Mitrahsoft_Enquiry::menu"
           action="enquiry/enquiry/index"
           resource="Mitrahsoft_Enquiry::submenu_enquiry"
        />

      <add id="Mitrahsoft_Enquiry::submenu_post"
           title="Post List" translate="title" module="Mitrahsoft_Enquiry"
           sortOrder="1000" parent="Mitrahsoft_Enquiry::menu"
           action="enquiry/post/index"
           resource="Mitrahsoft_Enquiry::submenu_post"
        />
        
       
   </menu>
</config>