<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       <add id="Mitrahsoft_Testing::first_level_demo" title="Mitrahsoft Admin Menu" module="Mitrahsoft_Testing" sortOrder="20" resource="Magento_Backend::content" />
       <add id="Mitrahsoft_Testing::testing"  title="Sub Menu" module="Mitrahsoft_Testing" sortOrder="1" action="testing/menuitem/index" parent="Mitrahsoft_Testing::first_level_demo" resource="Magento_Backend::content" />
        <add id="Mitrahsoft_Testing::submenu_contact"
           title="Contact Us" translate="title" module="Mitrahsoft_Testing"
           sortOrder="1000" parent="Mitrahsoft_Testing::first_level_demo"
           action="testing/menuitem/index"
           resource="Mitrahsoft_Testing::submenu_contact"
        />
        
        </menu>
</config>